<h1 id='header'>Battle</h1>
<h2 id='welcome'>Welcome, please enter your names</h2>
<form action="/name" method="post">
    <label for="player1">Player 1 <input id="p1Name" type="text" name="player1"></input></label> 
    <br />
    <br />
    <label for="player2">Player 2 <input id="p2Name" type="text" name="player2"></input></label> 
    <br />
    <br />
    <input id="submitButton" type="submit" value="Enter"></input>
</form>

