<h1>Hello</h1>
<h2 id="displayNames"><%= `Player 1: ${player1}` %></h2>
<h2 id="displayNames"><%= `Player 2: ${player2}` %></h2>
<br />
<br />
<h2 id="subheading">Get Ready To Play</h2>
<form action="/battle" method="post">
    <input id="submitButton" type="submit" value="Begin Battle"></input>
</form>
